body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ff3c00;
    margin: 50px;
}

h1 {
    color: #4269e1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #ff4081;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #b71cff;
    color: white;
}
